.top-bar {
    margin-bottom: 20px; /* Reduced gap from 60px to 20px */
} 

.page-container {
    margin-bottom: 20px; /* Adjust this value as needed */
}

.product-dashboard {
    margin-top: 10px; /* Adjust this value as needed */
}