<div class="flex gap-32">
    <div class="w-4/12">
      <mat-card class="flex flex-col justify-center items-center text-center py-8">
        <h4 class="text-red-500 text-xl">Total Orders</h4>
        <h6 class="text-red-500 text-2xl">{{ totalOrders }}</h6>
      </mat-card>
    </div>
    <div class="w-4/12">
      <mat-card class="flex flex-col justify-center items-center text-center py-8">
        <h4 class="text-purple-500 text-xl">Total Products</h4>
        <h6 class="text-purple-500 text-2xl">{{ totalProducts }}</h6>
      </mat-card>
    </div>
    <div class="w-4/12">
      <mat-card class="flex flex-col justify-center items-center text-center py-8">
        <h4 class="text-green-500 text-xl">Total Brands</h4>
        <h6 class="text-green-500 text-2xl">{{ totalBrands }}</h6>
      </mat-card>
    </div>
  </div>
 